@model LibraryManagement.Data.ViewModels.AlertViewModel

<div>
    <div class="alert alert-danger">@Model.AlertMessage</div>
    <a href="@Url.Action(Model.ActionName, Model.ControllerName)" class="btn btn-primary">
        @Model.ButtonText
    </a>
</div>